<div *ngIf="cargando_tabla">
    <app-loading1></app-loading1>
</div>

<div *ngIf="!cargando_tabla">
    <div class="row animated fadeIn">
        <div class="col-md-12">
            <div class="card">
                <div class="card-body p-b-0">
                    <h4 class="card-title">{{titulo}}</h4>
                </div>
                <form #formularioUsuario="ngForm" ngNativeValidate (ngSubmit)="guardar()">
                    <!-- Nav tabs -->
                    <ul class="nav nav-tabs customtab" role="tablist">
                        <li class="nav-item"> <a class="nav-link active" data-toggle="tab" href="#perfiles" role="tab"><span class="hidden-sm-up"><i class="ti-home"></i></span> <span class="hidden-xs-down">Perfil</span></a> </li>
                        <li class="nav-item"> <a class="nav-link" data-toggle="tab" href="#menuPerfil" role="tab"><span class="hidden-sm-up"><i class="ti-user"></i></span> <span class="hidden-xs-down">Menú-Perfil</span></a> </li>
                    </ul>
                    <!-- Tab panes -->
                    <div class="tab-content">
                        <div class="tab-pane p-20 active" id="perfiles" role="tabpanel">


                            <div class="row">
                                <div class="col-lg-12">
                                    <div class="input-group">
                                        <input type="text" class="form-control" placeholder="Buscar.... " name="search " [(ngModel)]="filter" DirectivaMayusculas>
                                        <span class="input-group-btn pointer">
                                            <button type="button" class="btn btn-info" (click)="insertar()">
                                                <i class="fa fa-plus"></i> Nuevo
                                            </button>
                                        </span>
                                    </div>
                                </div>
                            </div>

                            <br>



                            <div class="form-group row">
                                <div class="table-responsive pointer col-md-12">
                                    <table class="table color-bordered-table primary-bordered-table ">
                                        <thead>
                                            <tr>
                                                <th>Código</th>
                                                <th>Nombre</th>
                                                <th>Acción</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr *ngFor="let perfil of listaPerfil | filter:filter | paginate: { itemsPerPage: 10, currentPage: p }; let i=i ndex ">
                                                <td>{{perfil.pk_perfil}}</td>
                                                <td>{{perfil.nombre_perfil}}</td>
                                                <td>
                                                    <div class="btn-group">
                                                        <button type="button" class="btn btn-info dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                                            <i class="fa fa-file-o"></i>
                                                        </button>
                                                        <div class="dropdown-menu">
                                                            <a class="dropdown-item" (click)="editar(perfil)">Editar</a>
                                                            <a class="dropdown-item" (click)="eliminar(perfil)">Eliminar</a>

                                                        </div>
                                                    </div>
                                                </td>
                                            </tr>
                                        </tbody>
                                        <tfoot></tfoot>
                                    </table>

                                    <br>

                                    <div class="col-12 ">
                                        <pagination-controls class="pagination" (pageChange)="p=$event "></pagination-controls>
                                    </div>

                                </div>
                            </div>
                        </div>
                        <div class="tab-pane p-20" id="menuPerfil" role="tabpanel">
                            <div class="row">
                                <div class="col-md-5">
                                    <div class="form-group">
                                        <label class="control-label"><b>Seleccione Perfil</b></label>
                                        <ng-select (change)="cargarMenuPerfil($event)" [clearable]="false" name="pk_perfil" bindValue="pk_perfil" placeholder="Seleccione.." bindLabel="nombre_perfil" [items]="listaPerfil">
                                            <ng-template ng-option-tmp let-item="item">
                                                {{item.nombre_perfil}}
                                            </ng-template>
                                        </ng-select>
                                    </div>

                                </div>

                                <div class="col-md-5">
                                    <div *ngIf="cargando_menu && perfilTarget">
                                        <app-loading2></app-loading2>
                                    </div>
                                    <div *ngIf="!cargando_menu && perfilTarget">
                                        <label class="control-label"><b>Items del Menú por Perfil</b></label>
                                        <div id="accordion2" class="accordion" role="tablist" aria-multiselectable="false">

                                            <div *ngFor="let item of listaMenuPerfil | filter:filter;  let idx = index;">
                                                <div class="card-header" role="tab" [id]="idx">
                                                    <h5 class="mb-0">
                                                        <a class="collapsed" data-toggle="collapse" data-parent="#accordion2" href="#{{item.pk_menu}}" [attr.aria-controls]="item.pk_menu">
                                                    {{ item.nombre_menu }}
                                            </a>
                                                    </h5>
                                                </div>

                                                <div [id]="item.pk_menu" class="collapse" role="tabpanel" [attr.aria-labelledby]="idx">
                                                    <div *ngFor="let item1 of item.items_menu | filter:filter;">
                                                        <div class="card-body">
                                                            <input type="checkbox" name="item_{{item1.pk_menu}}" [id]="item1.pk_menu" [(ngModel)]="item1.asignado_perfil" class="chk-col-green" [attr.checked]="item1.asignado_perfil ? 'checked' : null" (click)="actualizarItemMenuPerfil(item1)" />
                                                            <label [for]="item1.pk_menu">{{ item1.nombre_menu }}</label>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <!-- <div style="margin:5px 0px" *ngIf="!cargando_menu && perfilTarget">
                                        <ul class="list-group">
                                            <li class="list-group-item" *ngFor="let item of listaMenuPerfil | filter:filter;">
                                                
                                                <label [for]="item.pk_menu">{{ item.nombre_menu }}</label>
                                                <ul class="list-group">
                                                    <li class="list-group-item" *ngFor="let item1 of item.items_menu | filter:filter;">
                                                        <input type="checkbox" name="item_{{item1.pk_menu}}" [id]="item1.pk_menu" [(ngModel)]="item1.asignado_perfil" class="chk-col-green" [attr.checked]="item1.asignado_perfil ? 'checked' : null" (click)="actualizarItemMenuPerfil(item1)" />
                                                        <label [for]="item1.pk_menu">{{ item1.nombre_menu }}</label>

                                                    </li>
                                                </ul>
                                            </li>
                                        </ul>
                                    </div> -->
                                </div>
                            </div>
                            <br>
                            <code>
                                {{ perfilTarget | json }}
                            </code>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>