<div *ngIf="!cargando_tabla">
    <app-loading1></app-loading1>
</div>

<div *ngIf="cargando_tabla">
    <div class="row animated fadeIn">
        <div class="col-md-12">
            <div class="card">
                <div class="card-body p-b-0">
                    <h4 class="card-title">{{titulo}}</h4>
                </div>
                <form #formularioUsuario="ngForm" ngNativeValidate (ngSubmit)="guardar()">
                    <!-- Nav tabs -->
                    <ul class="nav nav-tabs customtab" role="tablist">
                        <li class="nav-item"> <a class="nav-link active" data-toggle="tab" href="#generales" role="tab"><span class="hidden-sm-up"><i class="ti-user"></i></span> <span class="hidden-xs-down">Datos Generales</span></a> </li>
                        <li class="nav-item"> <a class="nav-link" data-toggle="tab" href="#hitos" role="tab"><span class="hidden-sm-up"><i class="ti-layout-cta-right"></i></span> <span class="hidden-xs-down">Credenciales</span></a> </li>
                        <li class="nav-item" *ngIf="id != 'nuevo'"> <a class="nav-link" data-toggle="tab" href="#perfiles" role="tab"><span class="hidden-sm-up"><i class="ti-view-list-alt"></i></span> <span class="hidden-xs-down">Perfiles</span></a> </li>
                    </ul>
                    <!-- Tab panes -->
                    <div class="tab-content">
                        <div class="tab-pane p-20 active" id="generales" role="tabpanel">
                            <app-persona [(personaTarget)]="persona"></app-persona>
                        </div>
                        <div class="tab-pane  p-20" id="hitos" role="tabpanel">
                            <div class="row">
                                <div class="col-md-3">
                                    <div class="form-group">
                                        <label class="control-label"><b>* Usuario</b></label>
                                        <input type="text" class="form-control" [(ngModel)]="persona.numidentificacion_person" name="usuario" placeholder="Ingrese Usuario" required>
                                    </div>
                                </div>

                                <div class="col-md-3">
                                    <div class="form-group">
                                        <label class="control-label"><b>* Visible</b></label>
                                        <div class="switch">
                                            <label>
                                                <input type="checkbox" [checked]="usuario.visible_user" (change)="usuario.visible_user = !usuario.visible_user"><span class="lever switch-col-green"></span></label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-3">
                                    <div class="form-group">
                                        <label class="control-label"><b>Cambiar Contraseña?</b></label>
                                        <div class="switch">
                                            <label>
                                                <input type="checkbox" [checked]="cambiarPassword" (change)="limpiarPassword()"><span class="lever switch-col-orange"></span></label>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-md-3">
                                    <div class="form-group">
                                        <label class="control-label"><b>* Contraseña</b></label>
                                        <input type="password" class="form-control" [(ngModel)]="password1" name="password1" placeholder="Ingrese Contraseña" [disabled]="!cambiarPassword" [required]="cambiarPassword">
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <div class="form-group">
                                        <label class="control-label"><b>* Repetir Contraseña</b></label>
                                        <input type="password" class="form-control" [(ngModel)]="password2" name="password2" placeholder="Confirme Contraseña" [disabled]="!cambiarPassword" [required]="cambiarPassword">
                                    </div>
                                </div>

                            </div>
                        </div>
                        <div class="tab-pane  p-20" id="perfiles" role="tabpanel" *ngIf="id != 'nuevo'">
                            <div class="col-12">
                                <div class="card">
                                    <div class="card-body">
                                        <div class="col-12">

                                            <div class="row animated fadeIn ">
                                                <div class="col-12 ">
                                                    <div class="card ">
                                                        <div class="card-body ">
                                                            <div class="col-12 ">
                                                                <div class="row ">
                                                                    <!-- CABECERAS -->
                                                                    <div class="col-md-5">

                                                                        <h3>Perfiles Inactivos</h3>
                                                                        <div *ngIf="cargando_perfiles_inactivos">
                                                                            <app-loading1></app-loading1>
                                                                        </div>
                                                                        <div *ngIf="!cargando_perfiles_inactivos">
                                                                            <div class="input-group">
                                                                                <input type="text " class="form-control" [(ngModel)]="filterc" placeholder="Buscar.... " name="search ">

                                                                            </div>
                                                                            <div style="margin:5px 0px">
                                                                                <ul class="list-group">
                                                                                    <div *ngFor="let item of listaPerfiles | filter:filterc; let i = index;">
                                                                                        <li class="list-group-item" *ngIf="!item.existe_perfil">
                                                                                            <a>{{ item.nombre_perfil }}</a>

                                                                                            <span *ngIf="!item.existe_perfil" class="hover-cursor text-danger pull-right" style="margin: 5px" (click)="addMenuPerfil(item)">
                                                                                            <i class="fa fa-angle-double-right fa-lg pointer"></i>
                                                                                            <i class="fa fa-angle-double-right fa-lg pointer"></i>
                                                                                        </span>
                                                                                        </li>
                                                                                    </div>
                                                                                </ul>
                                                                            </div>
                                                                        </div>

                                                                    </div>
                                                                    <!-- ITEMS MENU -->
                                                                    <div class="col-md-5">

                                                                        <h3>Perfiles Activos</h3>
                                                                        <!-- <div *ngIf="cargando_perfiles_activos">
                                                                            <app-loading1></app-loading1>
                                                                        </div> -->

                                                                        <!--  <div *ngIf="!cargando_perfiles_activos"> -->
                                                                        <div class="input-group">
                                                                            <input type="text " class="form-control" [(ngModel)]="filter" placeholder="Buscar.... " name="search ">

                                                                        </div>

                                                                        <!-- PRUEBA -->

                                                                        <div style="margin:5px 0px">
                                                                            <ul class="list-group">
                                                                                <div *ngFor="let item of listaPerfiles | filter:filterc; let i = index;">
                                                                                    <li class="list-group-item" *ngIf="item.existe_perfil">

                                                                                        <span *ngIf="item.existe_perfil" class="hover-cursor text-success" style="margin: 5px" (click)="deleteMenuPerfil(item)">
                                                                                                    <i class="fa fa-angle-double-left fa-lg pointer"></i>
                                                                                                    <i class="fa fa-angle-double-left fa-lg pointer"></i>
                                                                                                </span>
                                                                                        <a class="pull-right">{{ item.nombre_perfil }}</a>
                                                                                    </li>
                                                                                </div>
                                                                            </ul>
                                                                        </div>


                                                                        <!--  </div> -->
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>

                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="card-body text-right p-b-0">
                        <div class="button-group">
                            <button type="button" class="btn btn-danger" [routerLink]="['/usuarios']" routerLinkActive="router-link-active">Cancelar</button>
                            <button type="submit" class="btn btn-success"> Guardar</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>