<div *ngIf="!cargando_tabla">
    <app-loading1></app-loading1>
</div>

<div *ngIf="cargando_tabla">
    <div class="row animated fadeIn">
        <div class="col-md-12">
            <div class="card">
                <div class="card-body p-b-0">
                    <h4 class="card-title">{{titulo}}</h4>
                </div>
                <form #formularioUsuario="ngForm" ngNativeValidate (ngSubmit)="guardar()">
                    <!-- Nav tabs -->
                    <ul class="nav nav-tabs customtab" role="tablist">
                        <li class="nav-item"> <a class="nav-link active" data-toggle="tab" href="#generales" role="tab"><span class="hidden-sm-up"><i class="ti-user"></i></span> <span class="hidden-xs-down">Datos Generales</span></a> </li>
                        <li class="nav-item"> <a class="nav-link" data-toggle="tab" href="#hitos" role="tab"><span class="hidden-sm-up"><i class="ti-layout-cta-right"></i></span> <span class="hidden-xs-down">Credenciales</span></a> </li>
                        <li class="nav-item" *ngIf="id != 'nuevo'"> <a class="nav-link" data-toggle="tab" href="#perfiles" role="tab"><span class="hidden-sm-up"><i class="ti-view-list-alt"></i></span> <span class="hidden-xs-down">Perfiles</span></a> </li>
                        <li class="nav-item" *ngIf="id != 'nuevo'"> <a class="nav-link" data-toggle="tab" href="#especialidad" role="tab"><span class="hidden-sm-up"><i class="ti-view-list-alt"></i></span> <span class="hidden-xs-down">Datos Médicos</span></a> </li>
                        <li class="nav-item" *ngIf="id != 'nuevo'"> <a class="nav-link" data-toggle="tab" href="#empresa" role="tab"><span class="hidden-sm-up"><i class="ti-view-list-alt"></i></span> <span class="hidden-xs-down">Empresas</span></a> </li>
                    </ul>
                    <!-- Tab panes -->
                    <div class="tab-content">
                        <div class="tab-pane p-20 active" id="generales" role="tabpanel">
                            <app-persona [(personaTarget)]="persona"></app-persona>
                        </div>
                        <div class="tab-pane  p-20" id="hitos" role="tabpanel">
                            <div class="row">
                                <div class="col-md-3">
                                    <div class="form-group">
                                        <label class="control-label"><b>* Usuario</b></label>
                                        <input type="text" class="form-control" [(ngModel)]="persona.numidentificacion_person" name="usuario" placeholder="Ingrese Usuario" required>
                                    </div>
                                </div>

                                <div class="col-md-3">
                                    <div class="form-group">
                                        <label class="control-label"><b>* Visible</b></label>
                                        <div class="switch">
                                            <label>
                                                    <input type="checkbox" [checked]="usuario.visible_user" (change)="usuario.visible_user = !usuario.visible_user"><span class="lever switch-col-green"></span></label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-3">
                                    <div class="form-group">
                                        <label class="control-label"><b>Cambiar Contraseña?</b></label>
                                        <div class="switch">
                                            <label>
                                                    <input type="checkbox" [checked]="cambiarPassword" (change)="limpiarPassword()"><span class="lever switch-col-orange"></span></label>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-md-3">
                                    <div class="form-group">
                                        <label class="control-label"><b>* Contraseña</b></label>
                                        <input type="password" class="form-control" [(ngModel)]="password1" name="password1" placeholder="Ingrese Contraseña" [disabled]="!cambiarPassword" [required]="cambiarPassword">
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <div class="form-group">
                                        <label class="control-label"><b>* Repetir Contraseña</b></label>
                                        <input type="password" class="form-control" [(ngModel)]="password2" name="password2" placeholder="Confirme Contraseña" [disabled]="!cambiarPassword" [required]="cambiarPassword">
                                    </div>
                                </div>

                            </div>
                        </div>
                        <div class="tab-pane  p-20" id="perfiles" role="tabpanel" *ngIf="id != 'nuevo'">
                            <div class="col-12">
                                <div class="card">
                                    <div class="card-body">
                                        <div class="col-12">

                                            <div class="row animated fadeIn ">
                                                <div class="col-12 ">
                                                    <div class="card ">
                                                        <div class="card-body ">
                                                            <div class="col-12 ">
                                                                <div class="row ">
                                                                    <!-- CABECERAS -->
                                                                    <div class="col-md-5">

                                                                        <h3>Perfiles Inactivos</h3>
                                                                        <div *ngIf="cargando_perfiles_inactivos">
                                                                            <app-loading1></app-loading1>
                                                                        </div>
                                                                        <div *ngIf="!cargando_perfiles_inactivos">
                                                                            <div class="input-group">
                                                                                <input type="text " class="form-control" [(ngModel)]="filterc" placeholder="Buscar.... " name="search ">

                                                                            </div>
                                                                            <div style="margin:5px 0px">
                                                                                <ul class="list-group">
                                                                                    <div *ngFor="let item of listaPerfiles | filter:filterc; let i = index;">
                                                                                        <li class="list-group-item" *ngIf="!item.existe_perfil">
                                                                                            <a>{{ item.nombre_perfil }}</a>

                                                                                            <span *ngIf="!item.existe_perfil" class="hover-cursor text-danger pull-right" style="margin: 5px" (click)="addMenuPerfil(item)">
                                                                                                <i class="fa fa-angle-double-right fa-lg pointer"></i>
                                                                                                <i class="fa fa-angle-double-right fa-lg pointer"></i>
                                                                                            </span>
                                                                                        </li>
                                                                                    </div>
                                                                                </ul>
                                                                            </div>
                                                                        </div>

                                                                    </div>
                                                                    <!-- ITEMS MENU -->
                                                                    <div class="col-md-5">

                                                                        <h3>Perfiles Activos</h3>
                                                                        <!-- <div *ngIf="cargando_perfiles_activos">
                                                                                <app-loading1></app-loading1>
                                                                            </div> -->

                                                                        <!--  <div *ngIf="!cargando_perfiles_activos"> -->
                                                                        <div class="input-group">
                                                                            <input type="text " class="form-control" [(ngModel)]="filter" placeholder="Buscar.... " name="search ">

                                                                        </div>

                                                                        <!-- PRUEBA -->

                                                                        <div style="margin:5px 0px">
                                                                            <ul class="list-group">
                                                                                <div *ngFor="let item of listaPerfiles | filter:filterc; let i = index;">
                                                                                    <li class="list-group-item" *ngIf="item.existe_perfil">

                                                                                        <span *ngIf="item.existe_perfil" class="hover-cursor text-success" style="margin: 5px" (click)="deleteMenuPerfil(item)">
                                                                                                        <i class="fa fa-angle-double-left fa-lg pointer"></i>
                                                                                                        <i class="fa fa-angle-double-left fa-lg pointer"></i>
                                                                                                    </span>
                                                                                        <a class="pull-right">{{ item.nombre_perfil }}</a>
                                                                                    </li>
                                                                                </div>
                                                                            </ul>
                                                                        </div>


                                                                        <!--  </div> -->
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>

                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="tab-pane  p-20" id="especialidad" role="tabpanel" *ngIf="id != 'nuevo'">
                            <!-- Nav tabs -->
                            <div *ngIf="cargando_espec_user">
                                <app-loading1></app-loading1>
                            </div>

                            <label class="control-label"><b>Especialidad</b>&nbsp;&nbsp; </label> <a class="mytooltip tooltip-effect-8"><i class="fa fa-info-circle"></i>
                                    <span class="mytooltip tooltip-effect-1">
                                        <span class="tooltip-content clearfix">
                                            <img src="assets/images/tooltip/Euclid.png" alt="euclid" />
                                            <span class="tooltip-text">En caso de que el usuario sea médico, inserte las especialidades que posee con los datos de registro.</span> 
                                        </span>
                                    </span>
                                </a>

                            <div class="row">
                                <div class="col-lg-12">
                                    <div class="input-group">
                                        <input type="text" class="form-control" placeholder="Buscar.... " name="search " [(ngModel)]="filter" DirectivaMayusculas>
                                        <span class="input-group-btn pointer">
                                                    <button type="button" class="btn btn-info" (click)="insertarModalEspecilidades()" data-toggle="modal" data-target="#modalEspeMed">
                                                        <i class="fa fa-plus"></i> Nuevo
                                                    </button>
                                                </span>
                                    </div>
                                </div>
                            </div>

                            <br>



                            <div class="form-group row">
                                <div class="table-responsive pointer col-md-12">
                                    <table class="table color-bordered-table primary-bordered-table ">
                                        <thead>
                                            <tr>
                                                <th scope="col">Especialidad</th>
                                                <th scope="col">Código_MSP</th>
                                                <th scope="col">Senecyt</th>
                                                <th scope="col">Acción</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr *ngFor="let espec_users of listaEspecialidadUsuarios | filter:filter | paginate: { itemsPerPage: 10, currentPage: p }; let i=i ndex ">
                                                <td scope="row" data-label="Especialidad">{{espec_users.nombre_espec}}</td>
                                                <td data-label="Código_MSP">{{espec_users.codmsp_espcmed}}</td>
                                                <td data-label="Senecyt">{{espec_users.senecyt_espcmed}}</td>
                                                <td data-label="Acción">
                                                    <div class="btn-group">
                                                        <button type="button" class="btn btn-info dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                                                    <i class="fa fa-file-o"></i>
                                                                </button>
                                                        <div class="dropdown-menu">
                                                            <a class="dropdown-item" data-toggle="modal" data-target="#modalEspeMed" (click)="editarTargetModalEspecilidades(espec_users)">Editar</a>
                                                            <a class="dropdown-item" (click)="eliminarTargetModalEspecilidades(espec_users)">Eliminar</a>

                                                        </div>
                                                    </div>
                                                </td>
                                            </tr>
                                        </tbody>
                                        <tfoot></tfoot>
                                    </table>

                                    <br>

                                    <div class="col-12 ">
                                        <pagination-controls class="pagination" (pageChange)="p=$event "></pagination-controls>
                                    </div>

                                </div>
                            </div>

                        </div>
                        <div class="tab-pane  p-20" id="empresa" role="tabpanel" *ngIf="id != 'nuevo'">
                            <div *ngIf="cargando_espec_user">
                                <app-loading1></app-loading1>
                            </div>

                            <label class="control-label"><b>Empresa</b>&nbsp;&nbsp; </label> <a class="mytooltip tooltip-effect-8"><i class="fa fa-info-circle"></i>
                                <span class="mytooltip tooltip-effect-1">
                                    <span class="tooltip-content clearfix">
                                        <img src="assets/images/tooltip/Euclid.png" alt="euclid" />
                                        <span class="tooltip-text">En caso de que el usuario sea médico, inserte las empresas en las cuales ofrece sus servicios profesionales.</span> 
                                    </span>
                                </span>
                            </a>

                            <div class="row">
                                <div class="col-lg-6">
                                    <div class="input-group">
                                        <input type="text" class="form-control" placeholder="Buscar...." name="search " [(ngModel)]="filter" DirectivaMayusculas>
                                        <span class="input-group-btn pointer">
                                            <button type="button" class="btn btn-info" (click)="insertarModalEmpresas()" data-toggle="modal" data-target="#modalEmpreMed">
                                                <i class="fa fa-plus"></i> Nuevo
                                            </button>
                                        </span>
                                    </div>
                                </div>
                            </div>

                            <br>



                            <div class="form-group row">
                                <div class="table-responsive pointer col-md-6">
                                    <table class="table color-bordered-table primary-bordered-table ">
                                        <thead>
                                            <tr>
                                                <th scope="col">Empresa</th>
                                                <th scope="col">Acción</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr *ngFor="let empre_users of listaEmpresaUsuarios | filter:filter | paginate: { itemsPerPage: 10, currentPage: p }; let i=i ndex ">
                                                <td scope="row" data-label="Empresa">{{empre_users.nombre_empre}}</td>
                                                <td data-label="Acción">
                                                    <div class="btn-group">
                                                        <button type="button" class="btn btn-info dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                                                            <i class="fa fa-file-o"></i>
                                                                        </button>
                                                        <div class="dropdown-menu">
                                                            <!-- <a class="dropdown-item" data-toggle="modal" data-target="#modalEmpreMed" (click)="editarTargetModalEspecilidades(espec_users)">Editar</a> -->
                                                            <a class="dropdown-item" (click)="eliminarTargetModalEmpresas(empre_users)">Eliminar</a>

                                                        </div>
                                                    </div>
                                                </td>
                                            </tr>
                                        </tbody>
                                        <tfoot></tfoot>
                                    </table>

                                    <br>

                                    <div class="col-12 ">
                                        <pagination-controls class="pagination" (pageChange)="p=$event "></pagination-controls>
                                    </div>

                                </div>
                            </div>
                        </div>

                    </div>
                    <div class="card-body text-right p-b-0">
                        <div class="button-group">
                            <button type="button" class="btn btn-danger" [routerLink]="['/usuarios']" routerLinkActive="router-link-active">Cancelar</button>
                            <button type="submit" class="btn btn-success"> Guardar</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>


<!-- Modal de Especilidades Medico -->
<div class="modal fade " id="modalEspeMed" data-backdrop="static " tabindex="-1 " role="dialog " aria-labelledby="modalFormLabel1">
    <div class="modal-dialog " role="document ">
        <div class="modal-content ">
            <div class="modal-header ">
                <h4 class="modal-title " id="modalFormLabel1 ">Registro Especialidad Médico</h4>
                <button type="button " class="close " data-dismiss="modal" aria-label="Close "><span aria-hidden="true ">&times;</span></button>
            </div>
            <div class="modal-body ">
                <div *ngIf="cargando_modal ">
                    <app-loading2></app-loading2>
                </div>
                <div *ngIf="!cargando_modal">
                    <form #formularioEspecMed="ngForm" ngNativeValidate (ngSubmit)="guardarModalEspecilidades()">
                        <div class="form-group">
                            <label class="control-label"><b>* Especialidad</b></label>
                            <ng-select [(ngModel)]="especialidadMedicoTarget.pk_espec" [clearable]="false" name="pk_espec" bindValue="pk_espec" placeholder="Seleccione.." bindLabel="nombre_espec" [items]="listaEspecialidad">
                                <ng-template ng-option-tmp let-item="item">
                                    {{item.nombre_espec}}
                                </ng-template>
                            </ng-select>
                        </div>
                        <div class="form-group floating-labels m-b-40 ">
                            <label for="txt1 " class="control-label "><b>*Código MSP:</b></label>
                            <input type="text " class="form-control " [(ngModel)]="especialidadMedicoTarget.codmsp_espcmed" name="codmsp_espcmed " id="txt1" placeholder="Ingrese Código" required>
                        </div>
                        <div class="form-group floating-labels m-b-40 ">
                            <label for="txt1 " class="control-label "><b>Senecyt:</b></label>
                            <input type="text " class="form-control " [(ngModel)]="especialidadMedicoTarget.senecyt_espcmed" name="senecyt_espcmed " id="txt2" placeholder="Ingrese Senecyt">
                        </div>

                        <div class="modal-footer ">
                            <button type="button" [disabled]="cargando_accion " class="btn btn-danger " (click)="cancelarModalEspecilidades()">Cancelar</button>
                            <button type="submit" [disabled]="cargando_accion || formularioEspecMed.invalid " class="btn btn-success "> Guardar</button>
                        </div>
                    </form>

                </div>

            </div>

        </div>
    </div>

</div>

<!-- Modal de Empresas Medico -->
<div class="modal fade " id="modalEmpreMed" data-backdrop="static " tabindex="-1 " role="dialog " aria-labelledby="modalFormLabel1">
    <div class="modal-dialog " role="document ">
        <div class="modal-content ">
            <div class="modal-header ">
                <h4 class="modal-title " id="modalFormLabel1 ">Registro Empresa Médico</h4>
                <button type="button " class="close " data-dismiss="modal" aria-label="Close "><span aria-hidden="true ">&times;</span></button>
            </div>
            <div class="modal-body ">
                <div *ngIf="cargando_modal ">
                    <app-loading2></app-loading2>
                </div>
                <div *ngIf="!cargando_modal">
                    <form #formularioEmpreMed="ngForm" ngNativeValidate (ngSubmit)="guardarModalEmpresas()">
                        <div class="form-group">
                            <label class="control-label"><b>* Especialidad</b></label>
                            <ng-select [(ngModel)]="empresaMedicoTarget.pk_empre" [clearable]="false" name="pk_empre" bindValue="pk_empre" placeholder="Seleccione.." bindLabel="nombre_empre" [items]="listaEmpresa">
                                <ng-template ng-option-tmp let-item="item">
                                    {{item.nombre_empre}}
                                </ng-template>
                            </ng-select>
                        </div>


                        <div class="modal-footer ">
                            <button type="button" [disabled]="cargando_accion " class="btn btn-danger " (click)="cancelarModalEmpresas()">Cancelar</button>
                            <button type="submit" [disabled]="cargando_accion || formularioEmpreMed.invalid " class="btn btn-success "> Guardar</button>
                        </div>
                    </form>

                </div>

            </div>

        </div>
    </div>

</div>