<!-- ============================================================== -->
<!-- Left Sidebar - style you can find in sidebar.scss  -->
<!-- ============================================================== -->
<aside class="left-sidebar">
    <!-- Sidebar scroll-->
    <div class="scroll-sidebar">
        <!-- Sidebar navigation-->
        <nav class="sidebar-nav">
            <ul id="sidebarnav">
                <li class="user-profile">
                    <a class="has-arrow waves-effect waves-dark" href="#" aria-expanded="false"><img src="../assets/images/users/profile.png" alt="user" /><span class="hide-menu">Steave Jobs </span></a>
                    <ul aria-expanded="false" class="collapse">
                        <li><a href="javascript:void()">My Profile </a></li>
                        <li><a href="javascript:void()">My Balance</a></li>
                        <li><a href="javascript:void()">Inbox</a></li>
                        <li><a routerLinkActive="active" routerLink="/account-settings">Account Setting</a></li>
                        <li><a routerLink="/login">Logout</a></li>
                    </ul>
                </li>
                <li class="nav-devider"></li>
                <li class="nav-small-cap">MENÚ</li>


                <li *ngFor="let menu of _settingsService.myMenu">
                    <a *ngIf="menu.num_items_activos > 0" class="has-arrow waves-effect waves-dark" aria-expanded="false"><i class="fa" [class]="menu.icono_menu"></i><span class="hide-menu">{{ menu.nombre_menu }} 
                        <span class="label label-rouded label-themecolor pull-right">{{menu.num_items_activos}}</span>
                    </span></a>
                    <ul aria-expanded="false" class="collapse">
                        <li *ngFor="let submenu of menu.items_menu">
                            <a *ngIf="submenu.asignado_perfil" routerLinkActive="active" class="pointer" [routerLink]="[submenu.ruta_menu]">{{ submenu.nombre_menu }}</a>
                        </li>
                    </ul>
                </li>

            </ul>
        </nav>
        <!-- End Sidebar navigation -->
    </div>
    <!-- End Sidebar scroll-->
</aside>
<!-- ============================================================== -->
<!-- End Left Sidebar - style you can find in sidebar.scss  -->
<!-- ============================================================== -->